.sliderPage {
    height: 92px;
    margin-top: 10px;
}

.slick-prev {
    left: 0;
    z-index: 1;
}

.slick-next {
    right: 0;
}

.slick-prev:before,
.slick-next:before {
    color: #9f9292;
    font-size: 25px;
}

.sliderFlex {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
}

.sliderFlex:hover {
    border-bottom: 3px solid gray;
}
