body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1000;
}

.navbar-logo {
    height: 3rem;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 1rem;
    border: 1px solid var(--grey);
    border-radius: 2rem;
    box-shadow: 0 10px 30px -3px rgb(0 0 0 / 10%), 0 2px 17px -4px rgb(0 0 0 / 10%);
}

.search-bar:hover {
    box-shadow: 0 1px 2px rgb(0 0 0/15%), 0 4px 12px rgb(0 0 0/8%);
    transition: all 0.2s;
    cursor: pointer;
}

.search-bar-text {
    font-size: 0.85rem;
    border-right: 1px solid var(--grey);
    padding-right: 0.5rem;
}

.search-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme);
    padding: 0.25rem;
    border-radius: 50%;
    color: var(--white);
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
}

.airbnb-your-home {
    padding: 1rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.airbnb-your-home:hover {
    background-color: var(--light-grey);
}

.profile-menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    color: var(--font-grey);
    border: 1px solid var(--grey);
    padding: 0.5rem;
    border-radius: 2rem;
}

.menu-items {
    padding: 0.5rem 1rem !important;
    font-size: 0.8rem;
    color: var(--font-grey);
}

.bottom-nav {
    display: none;
}

@media only screen and (max-width: 800px) {
    .search-bar,
    .airbnb-your-home {
        display: none;
    }
    .navbar {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .profile-menu-flex {
        position: fixed;
        top: 0.5rem;
        right: 1.5rem;
    }
    .bottom-nav {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid var(--font-grey);
        box-shadow: 0 1px 2px rgb(0 0 0/8%), 0 4px 12px rgb(0 0 0/5%);
    }
}
