.register {
    background-attachment: fixed;
    background-image: url('../../assets/image/logoregister.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
