@tailwind base;
@tailwind components;
@tailwind utilities;

body a,
body a:hover {
    text-decoration: none;
}

td,
th {
    text-align: center !important;
}

hr {
    margin: 8px 0 !important;
}

@media (max-width: 768px) {
    .card {
        overflow-y: hidden !important;
    }
}
